body {
    margin: 0;
    font-weight: 400;
    position: relative;
    background: url('/assets/img/backgrounds/bg3.jpg') fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    overflow-y: scroll;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

form {
    margin: 0;
}

.text-center {
    text-align: center;
}

.login-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
}

.register-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
}


.mobile-login-logo {
    margin: 0 auto 0 auto;
    width: 100px;
    border: 4px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
}

.list-inset {
    overflow: hidden;
    margin: 20px 10px 10px 10px;
    border-radius: 4px;
    background-color: #fff;
}

.list {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 10px;
}

.card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card .item, .list-inset .item, .padding > .list .item, .padding-horizontal > .list .item {
    margin-right: 0;
    margin-left: 0;
}

.item-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 6px 0 5px 16px;
}

.item {    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

label, input, button, select, textarea {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.42857;
}

.card .item.item-input input, .list-inset .item.item-input input, .padding > .list .item.item-input input, .padding-horizontal > .list .item.item-input input {
    padding-right: 44px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    border: 0;
}

.item-text, .item-input input, .item-input textarea {
    width: 100%;
}

.biggy,
.item.item-input input.biggy {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    padding-right: 0;
}

.item-text {
    text-align: center;
    white-space: normal;
    box-sizing: border-box;
    font-size: 14px;
}

.padding {
    padding: 10px;
}

    .padding > .button.button-block:first-child {
        margin-top: 0;
    }

.button.button-block, .button.button-full {
    margin-top: 0;
    margin-bottom: 10px;
}

button.button-block, button.button-full, .button-full > button.button, input.button.button-block {
    width: 100%;
}

.button-brand {
    background-color: #c3a961;
    color: #FFF;
    border-color: rgba(0, 0, 0, 0.2);
}

.button-danger {
    background-color: darkred;
    color: #FFF;
    border-color: rgba(0, 0, 0, 0.2);
}


.button.button-block {
    display: block;
    clear: both;
}

.button {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 36px;
    cursor: pointer;
}

.button-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
}

.button-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-social > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.button-social.social-right {
    padding-left: 12px;
    padding-right: 44px;
    text-align: right;
}

.button-social.social-right > :first-child {
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.button-social > .mdi {
    line-height: 36px;
}

.line-surround {
    line-height: 0.5;
    text-align: center;
    position: relative;
}

.button.button-block.split {
    width: 30%;
    display: inline-block;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.c-blue {
    color: #277fe1 !important;
}

.p-l-10 {
    padding-left:10px;
}

.p-r-10 {
    padding-right:10px;
}

.m-t-25 {
    margin-top: 25px;
}

a, a:link, a:active, a:hover, a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.alert-danger {
    padding: 0 12px 0 12px;
}

.alert-danger .danger {
    background-color: darkred;
    padding: 6px 0 6px 0;
}

.alert-danger ul {
    margin: 0;
    padding: 0;
    background-color: darkred;
    list-style-type: none;
}

.alert-danger ul li {
    margin: 0;
    padding: 0 10px 0 10px;
    text-align: center;
}

.content.hidden {
    display: none;
}

.tos {
    background-color: #fff;
    color: #333;
    font-size: 11px;
    margin: 20px 10px 10px 10px;
    border-radius: 4px;
    position: relative;
    width: 263px;
    height: 326px;
}

.tos-inner {
    height: 100%;
    width: 100%;
    padding: 10px 15px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.tos-top {
    height: 20px;
    background-image: url('/assets/img/tos-top.png');
    background-position: top;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
}

.tos-bottom {
    height: 20px;
    background-image: url('/assets/img/tos-bottom.png');
    background-position: bottom;
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
}